{% extends 'base.html.twig' %}

{% block body %}
    <h1>Beers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Brewery</th>
                <th>Style</th>
                <th>Country</th>
                <th>Score</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for beer in beers %}
            <tr>
                <td><a href="{{ path('beer_show', { 'id': beer.id }) }}">{{ beer.id }}</a></td>
                <td>{{ beer.name }}</td>
                <td>{{ beer.brewery }}</td>
                <td>{{ beer.style }}</td>
                <td>{{ beer.country }}</td>
                <td>{{ beer.score }}</td>
                <td>{% if beer.createdAt %}{{ beer.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if beer.updatedAt %}{{ beer.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('beer_show', { 'id': beer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('beer_edit', { 'id': beer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('beer_new') }}">Create a new beer</a>
        </li>
    </ul>
{% endblock %}
