{% extends 'BeerScoreBeerBundle::base.html.twig' %}

{% block body %}
    <h1>Beer edit</h1>

    <div class="row">
        <div class="col s12">
        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="waves-effect waves-light btn" type="submit" value="Edit" />
        {{ form_end(edit_form) }}
        </div>
    </div>

    <div class="row">
        <div class="col s2">
            <a class="waves-effect waves-light btn" href="{{ path('beer_index') }}">List</a>
        </div>
        <div class="col s1">
            {{ form_start(delete_form) }}
            <input class="waves-effect waves-light btn red" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
